* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  padding: 200px;
  font-size: 40px;
  font-family: sans-serif;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.ml-10 {
  margin-left: 10px;
}
button {
  display: block;
  margin: 50px auto 0;
  padding: 20px;
}

.user-id {
  color: green;
}
.user-title {
  color: yellow;
  font-size: 32px;
}
.user-body {
  color: red;
  font-size: 16px;
}
